<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Hardt Veiculos</title>

</head>
<body>
<div class="container">

    <div th:if="${not #lists.isEmpty(clientes)}">
        <h2>Listagem de Cliente</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th> /</th>
                <th>Visualizar</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}">Id</td>
                <td th:text="${cliente.nome}">Nome</td>
                <td th:text="${cliente.cpf}">CPF</td>
                <td> /</td>
                <td><a th:href="${ '/cliente/' + cliente.id}">X</a></td>
                <td><a th:href="${'/cliente/editar/' + cliente.id}">X</a></td>
                <td><a th:href="${'/cliente/deletar/' + cliente.id}">X</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>